body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'roboto', sans-serif;
}
body {
    background-color: blue;
}

ul{
    list-style: none;
}

main{
    margin: 1rem;
    display: grid;
    grid-template-columns: 33% 1fr;
    gap: 1rem;
}
.personal, .skills, .language{
    padding: 1rem;
    line-height: 2;
}
.left{
    background-color: aquamarine;
}

.left-image{
    position:relative;
}
.left-image img {
    width: 100%;
}
.left-image h2{
    position: absolute;
    bottom: 0;
    left: 1rem;
}
.line{
    height: 5px;
    background-color: red;
    border: none;
}
.right {
    background-color: red;
    padding: 1rem;
}
.experience {
    line-height: 2;
}
.experience  ul{
margin: 2rem 0;
}
.date {
    color: gold;
}
.current {
    background-color: gold;
    color: red;
    padding: 0.4rem;
    border-radius: 3px;
}
.education{
    margin-top: 2rem;
}
.education ul {
    margin: 2rem 0;

}