body{
    font-family: 'Courier New', Courier, monospace;
    margin: 0%;
    padding: 20px;
    background-color:yellow;
    text-align: center;
    background-image: url(background.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}
.blog-post-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}
.blog-post-card{
    background-color:white;
    border-radius: 18px;
    box-shadow: 4px 8px rgba(red, green, blue, alpha);
    width: 300px;
    flex-shrink: 0;
    overflow: hidden;
}
.post-image-container img{
    position: relative;

}
.post-image-container img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}
.post-age-lable{
    position: relative;
    top: 10px;
    left: 10px;
    background-color: rgba(red, green, blue, alpha);
    color: blue;
    padding: 5px 10px;
    border-radius: 4px;
    font-size: 0.8em;
    
}
.post-description{
    font-size: 0.9em;
    margin: 0 15px 15px;
    color: #555;
    line-height: 1.6;

}
.post-footer-1{
display: flex;
justify-content: space-around;
padding: 15px;
font-size: 20px;
background-color: blue;
}
.post-footer-2{
display: flex;
justify-content: space-around;
padding: 15px;
font-size: 20px;
background-color:green;

}
.post-footer-3{
display: flex;
justify-content: space-around;
padding: 15px;
font-size: 20px;
background-color: red;
}
@media (max-width:768p){
    .blog-post-card{
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }
    .blog-post-container{
        flex-direction: column;
        align-items: center;
    }
}


